body {
	background-color: #222;
}

#mainDiv {
	text-align: center;
}

#tempoUpImage {
	max-height:10px;
}

#tempoDownImage {
	max-height:10px;
}

#demoCanvas {
	display: inline-block;
}

#tempoUp {
	position:absolute;
	left:80px;
	top:82px;
	background:none; 
	background-color:transparent;
	border:none;
   	outline:none;
	background:rgba(0,0,0,0.0);
}

#tempoDown {
	position:absolute;
	left:80px;
	top:95px;
	background:none; 
	border:none;
	outline:none;
	background:rgba(0,0,0,0.0);
	-webkit-transform:rotate(180deg); /* Chrome, Safari, Opera */
	transform:rotate(180deg); /* Standard syntax */
}

#tempo {
	position:absolute;
	left:110px;
	top:72px;
	color: #ffffff;
	background:rgba(0,0,0,0.0);
	width:110px;
	border:none;
	outline:none;
	font-family:"Roboto";
	font-weight:100;
	font-size:2.2em;
}

#tempoLabel {
	position:absolute;
	left:20px;
	top:92px;
	color: #4ad3e4;
	background-color:#222;
	font-family:"Roboto";
	font-weight:100;
	font-size:1em;
}

#muteLabel {
	position:absolute;
	left:28px;
	top:150px;
	color: #4ad3e4;
	background-color:#222;
	font-family:"Roboto";
	font-weight:100;
	font-size:1em;
}

#muteButton {
	position:absolute;
	left:78px;
	top:132px;
	border:none;
	outline:none;
	color: #fff;
	background-color:#222;
	font-family:"Roboto";
	font-weight:100;
	font-size:2em;
}
