body {
	background-color: #222;
}

#mainDiv {
	text-align: center;
}

#tempoUp {
	position:absolute;
	left:60px;
	top:100px;
	background:none; 
	background-color:transparent;
	border:none;
   	outline:none;
}

#tempoUpImage {
	max-height:12px;
}

#tempoDown {
	position:absolute;
	left:60px;
	top:120px;
	background:none; 
	border:none;
	outline:none;
	-webkit-transform:rotate(180deg); /* Chrome, Safari, Opera */
	transform:rotate(180deg); /* Standard syntax */
}

#tempoDownImage {
	max-height:12px;
}

::selection {
	background-color:Transparent;
	color:#000;
}

#demoCanvas {
	display: inline-block;
}

#tempo {
	position:absolute;
	left:100px;
	top:92px;
	color: #ffffff;
	font-family:"Roboto";
	font-weight:100;
	font-size:2.5em;
}
