body {
	background-color: #222;
}

#mainDiv {
	text-align: center;
}

#tempoUpImage {
	max-height:10px;
}

#tempoDownImage {
	max-height:10px;
}

#demoCanvas {
	display: inline-block;
}

#tempoUp {
	position:absolute;
	left:108px;
	top:80px;
	background:none;
	background-color:transparent;
	border:none;
   	outline:none;
	background:rgba(0,0,0,0.0);
}

#tempoDown {
	position:absolute;
	left:108px;
	top:95px;
	background:none;
	border:none;
	outline:none;
	background:rgba(0,0,0,0.0);
	-webkit-transform:rotate(180deg); /* Chrome, Safari, Opera */
	transform:rotate(180deg); /* Standard syntax */
}

#tempo {
	position:absolute;
	left:141px;
	top:75px;
	color: #ffffff;
	background:rgba(0,0,0,0.0);
	width:110px;
	border:none;
	outline:none;
	font-family:"Roboto";
	font-weight:100;
	font-size:2.2em;
}

#tempoLabel {
	position:absolute;
	left:51px;
	top:92px;
	color: #4ad3e4;
	background-color:#222;
	font-family:"Roboto";
	font-weight:400;
	font-size:1em;
}

#muteLabel {
	position:absolute;
	left:60px;
	top:150px;
	color: #4ad3e4;
	background-color:#222;
	font-family:"Roboto";
	font-weight:400;
	font-size:1em;
}

#muteButton {
	position:absolute;
	left:106px;
	top:135px;
	border:none;
	outline:none;
	color: #fff;
	background-color:#222;
	font-family:"Roboto";
	font-weight:100;
	font-size:2em;
}

#beatSoundLabel {
	position:absolute;
	left:18px;
	top:208px;
	color: #4ad3e4;
	background-color:#222;
	font-family:"Roboto";
	font-weight:400;
	font-size:1em;
}

#beatSoundButton {
	position:absolute;
	left:108px;
	top:193px;
	border:none;
	outline:none;
	color: #fff;
	background-color:#222;
	font-family:"Roboto";
	font-weight:100;
	font-size:2em;
}

.streakContainer {
	position:absolute;
	top:3px;
	width:100%;
}

#currentStreakLabel {
	background:transparent !important;
	color: #777;
	background-color:#222;
	font-family:"Roboto";
	font-weight:400;
	font-size:.9em;
    text-align: center;
	position:50%;
	top:0%;
	width:100%;
	cursor:pointer;
}

.footerLink{
	color: #fff;
	font-family:"Roboto";
	font-weight:100;
	font-size:.8em;
	padding-left: 20px;
	padding-right: 20px;
}

#footer{
	position: fixed;
    bottom: 10px;
    width: 100%;
}
button {
	opacity: .75;
	transition: opacity 0.2s;
}
button:hover,
button:active {
	opacity: 1;
}
a {
	font-weight: 400;
	color: #aaa;
	text-decoration:none;
	transition: color 0.2s;

}

a:hover,
a:active {
	color: #ccc;

}
